.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 54px);
  grid-template-rows: repeat(10, 54px);
  grid-gap: 2px;
}

.element {
  border: 1px solid black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.element:hover {
  transform: scale(1.25, 1.25);
  z-index: 1;
}

.element .number {
  font-size: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.element .name {
  font-size: 8px;
  position: absolute;
  bottom: 4px;
}

.element .symbol {
  font-size: 22px;
  position: absolute;
}

@media all and (min-width: 600px) {
  .periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 70px);
    grid-template-rows: repeat(10, 70px);
    grid-gap: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .element .symbol {
    font-size: 27px;
    position: absolute;
  }
  .element .name {
    font-size: 10.5px;
    position: absolute;
    bottom: 4px;
  }
  .element .number {
    font-size: 14px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .element {
    border: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
